html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Droid Sans Mono', monospace;
}

.container {
  height: 100%;
  padding: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 700px;
}

.container ul {
  list-style-type: square;
}
